@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.hero {
  background: white;
}

.item{
  display: flex;
}

.menu{
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.perspective:hover {
  transform: rotateX(90deg);
}

.perspective:hover + .main {
  transform: translateY(-100%);
  opacity: 0;
}

.perspective:hover + .container {
  opacity: 1;
}

.perspective {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
  
}

.perspective p {
  transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1), opacity 0.75s cubic-bezier(0.76, 0, 0.24, 1);
  pointer-events: none;
  text-transform: uppercase;
}

.perspective p:nth-of-type(2) {
  position: absolute;
  transform-origin: bottom center;
  transform: rotateX(-90deg) translateY(13px);
  opacity: 0;
}

.perspective:hover p:nth-of-type(1) {
  transform: translateY(-90%);
  opacity: 0;
}

.link{
  perspective: 190px;
  perspective-origin: bottom;
}

.perspective:hover  p:nth-of-type(2) {
  opacity: 1;

 
}

.zoom{
  margin-top: 200px;
}

.for--border{
  border-bottom: 1px solid black;
  

}



.slideshow {
  width: 100%;
  height: 300px;
}

.para{
  margin-top: -150px
}

@media(max-width: 553px){
 .item{
  display: none;
 }
}

@media(max-width: 899px){
 
}

@media (min-width: 799px) {
  .slideshow {
      max-width: 800px;
      max-height: 600px;
  }
}


@media(max-width: 797px){
 
}

@media(max-width: 471px){
 
}
.slideshow{
  top: 100px;
}

.header{
  top: 600px;

}

@media (max-width: 939px) {
  .slideshow {
      width: 550px;
      height: 600px;;
  }
 .slideshow{
  top: 150px
 }

 .header{
top: 200px;
 }
}

@media (max-width: 798px) {
  .slideshow {
    width: 450px;
    height: 350px;;
}
.slideshow{
top: 150px
}


}

@media (max-width: 801px) {
  .header{
    margin-top: 200px;
  
  }}



@media (max-width: 535px) {
  .header{
    margin-top: 100px;
  
  }}

@media (max-width: 493px) {
  .slideshow {
    width: 350px;
    height: 300px;;
   
}
.header{
  margin-top: 300px;
  }

.header{
top: 700px;

}
.slideshow{
top: 150px
}

.header{
top: -100px;
}
}

@media (max-width: 383px) {
  .slideshow {
    width: 250px;
   
}
.slideshow{
top: 150px
}

.header{
top: -200px;
}
}

.first--photo{
  position: absolute;
  top: 0;
  width: 300px !important;
  z-index: 999 !important;
}

